/* define color */
$crusta: #FF8928;
$flamingo: #F66641;
$woodsmoke: #171719;
$white: #FFFFFF;
$whisper: #EBEBF5;
$gunPowder: #3E3E53;
$fruitSalad: #4CAF50;
$gold: #FFD600;
$pomegranate: #F44336;
$charade: #282835;
$california: #FF9F0A;
$azureRadiance: #0A84FF;
$coralRed: #FF453A;
$portica: #F8E36A;
$kournikova: #FFEC79;
$roti: #BFA23C;
$saharaSand: #F4DD91;
$dodgerBlue: #2196F3;
$grey:#808080;